@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width:100%;
}
a{
    color:unset;
    text-decoration: none;
}
header{
    background-color: #f8f8f8;
    padding:20px;
    position: sticky;
    top:0;
    z-index: 10;
}
header ul{
    display: grid;
    grid-template-columns:repeat(9,auto);
    /* gap:20px; */
    padding:0 30px;
    place-items: center;
}
header ul li{
    display: inline-block;
    padding:0 20px;
    color:#787A91;
    font-family: 'Lato', sans-serif;
}
.brand{
    font-family: 'Anton', sans-serif;
    font-size:30px;
    color:#046582;
}
header ul li:hover{
    transform: scale(1.1);
    color:#141E61;
}
.additional{
    visibility:hidden;
}
.log-in,.sign-up{
    display: grid;
    justify-self: end;
    padding: 0 5px;
}
.log-in{
    margin-left:250px;
    color:#046582;
}

.sign-up{
    background-color:  #046582;
    border-radius: 10px;
    padding:10px 25px;
    color:white;
}
.sign-up:hover{
    background-color: #0A1931;
    color:white;
}

.wrapper{
    background-color: black;
}
#section-image{
    background-image: url(https://images.pexels.com/photos/220357/pexels-photo-220357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height:40vh;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    position:relative;
}

.section-title{
    color:white;
    position:absolute;
    top:80px;
    left:450px;
    font-size: 80px;
    backdrop-filter: blur(10px);
}

#course-section{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-auto-rows: 350px;
    gap:20px;
    place-content: center;
    padding:50px;
}
.course-card{
    display: grid;
    gap:10px;
    border:none;
    place-items: start;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(63, 45, 45, 0.2);
}
.course-card:hover{
    transform:scale(1.1);
    transition: 1s;
    box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.2);
}
.card-image{
    width:100%;
    
}
.course-title{
    font-weight: 500;
    margin:10px;
}
.review-info{
    display: grid;
    gap:10px;
    padding:10px;
    /* align-items: start; */
}
.fa-star{
    color:#ffa200;
}
.review-info span{
    margin-left:5px;
    color:#6a6a6a;
}
.review-info p{
    color:#9D9D9D;
}
footer{
    display: grid;
    gap:20px;
    padding:50px;
    place-items: center;
    background-color: #0A1931;
    color:white;
}
.social-media{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap:10px;
}
.social-media a:hover{
    transform: scale(1.5);
 
}
.follow{
    font-size:20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
.copyright-paragraph{
    font-family: 'Lato', sans-serif;
}